<div class="widget">
                                        <div class="widget-title-wrapper">
                                            <h3 class="block-title">Archives</h3>
                                        </div>    
                                        <ul>
                                            <li ng-repeat="(key, value) in datelist">
												<a href="#/yearcat/{{key}}">{{key}} <span class="pull-right">{{value}}</span></a>
											</li>
                                        </ul>
                                        
                                   </div>
